{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Produit</title>
{% endblock %}

{% block content %}



{%   for result in results   %}
    <p class="fs-14">{{   result.COF_COUNTRY_ORIGIN   }}</p>
    <p class="fs-14">{{  result.COF_OWNER   }}</p>
    <a href="produit/{{result.ID}}" class="fs-14">Découvrir</a>
{%   endfor   %}
<!-- Bloc produits-->
<section class="w-100 h-100vh d-flex a-i-center j-c-around h-100mobile flex-column-mobile h-100vh">
    <div class="d-flex j-c-center a-i-center h-50 w-50 h-mobile-10 m-top-mobile">
        <img class="w-75 h-auto d-none-mobile" src="./assets/img/Bean-{{ result.COF_COLOR }}.png">
    </div>
    <div class="d-flex flex-direction-column j-c-evenly h-50 w-0 w-35 w-full">
        <div class="d-flex flex-direction-column">
            <p class="fs-30 color-3 text-decoration-none p-b-15 text-center-mobile m-mobile-10 m-t-50 d-none-mobile">Description</p>
            <span class="span-borders d-none-mobile"></span>
        </div>
        <div class="d-flex flex-direction-row txt-center w-100 ">
            <div class="w-45 w100 w-none p-t-20 m-mobile-10 m-t-25 w-full">
                <p class="fs-20">PRODUCTEUR</p>
                <p class="fs-20">PAYS</p>
                <p class="fs-20">REGION</p>
                <p class="fs-20">ALTITUDE</p>

            </div>
            <div class="w-55 p-t-20">
                {% if result.COF_OWNER != '' %}
                <p class="fs-20">{{ result.COF_OWNER }}</p>
                {% else %} 
                <p class="fs-20"> / </p>
                {% endif %}

                {% if result.COF_COUNTRY_ORIGIN != '' %}
                <p class="fs-20">{{ result.COF_COUNTRY_ORIGIN }}</p>
                {% else %} 
                <p class="fs-20"> / </p>
                {% endif %}

                {% if result.COF_REGION != '' %}
                <p class="fs-20">{{ result.COF_REGION }}</p>
                {% else %} 
                <p class="fs-20"> / </p>
                {% endif %}

                {% if result.COF_ALTITUDE != '' %}
                <p class="fs-20">{{ result.COF_ALTITUDE }}</p>
                {% else %} 
                <p class="fs-20"> / </p>
                {% endif %}
            </div>
        </div>
        <div class="d-flex flex-direction-column p-t-20">
            <p class="fs-30 color-3 text-decoration-none p-b-15 text-center-mobile m-mobile-10 m-t-50">Notes</p>
            <span class="span-borders d-none-mobile"></span>
        </div>
        <div class="d-flex flex-direction-row txt-center w-100">
            <div class="w-45 w100 w-none p-t-20 m-mobile-10 m-t-25 w-full">
                <p class="fs-20">AROME (/10)</p>
                <p class="fs-20">SAVEUR (/10)</p>
                <p class="fs-20">ACIDITE (/10)</p>
                <p class="fs-20">DOUCEUR (/10)</p>
            </div>
            <div class="w-55 p-t-20 m-t-25">
                <p class="fs-20">{{ result.COF_AROMA}}</p>
                <p class="fs-20">{{ result.COF_FLAVOR}}</p>
                <p class="fs-20">{{ result.COF_ACIDITY}}</p>
                <p class="fs-20">{{ result.COF_SWEETNESS}}</p>
            </div>
        </div> 

    </div>

    <form method="get" action="resultat" class="z_3 absolute b-40 position-mobile m-t-50 ">
        <input type="text" name="research" id="" />
        <input type="submit" value="Rechercher" name="submitform" />
    </form>

</section>

{# <p>Ceci est la page produit: {{ result.ID }}</p> #}

{% endblock %}