{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Résultat</title>
{% endblock %}

{% block content %}

<!-- Bloc résultats-->
<section class="w-100 h-100vh d-flex flex-direction-column a-i-center j-c-center">
    <div class="h-65 d-flex flex-direction-column a-i-center j-c-evenly">
        <p class="fs-30 color-4 encodeSansCondensed">Résultat(s) de votre recherche pour "{{ research }}":</p>
        <div class="d-flex flex-direction-column a-i-center j-c-between h-75 w-50">
            {% for result in results %}
                <div class="d-flex a-i-center j-c-between h-100 w-100 p-t-50">
                    <img class="w-10 h-auto" src="./assets/img/Bean-{{ result.COF_COLOR }}.png">
                    <p class="fs-20 encodeSansCondensed color-3">{{ result.COF_COUNTRY_ORIGIN }}</p>
                    <p class="fs-20 encodeSansCondensed color-3">{{ result.COF_OWNER }}</p>
                    <a href="produit/{{result.ID}}" class="fs-20 encodeSansCondensed color-5">Découvrir</a>
                </div>
            {% endfor %}
        </div>
    </div>
</section>

{% endblock %}