{% extends 'Layout/layout.html.twig' %}

{% block title %}
    {{ parent() }} - Découvrir les cafés</title>
{% endblock %}

{% block content %}



<!-- Bloc découvrir cafés-->
<section class="bg-img-1 w-100 h-100vh d-flex a-i-end">
    <div class="h-85 d-flex a-i-center j-c-around flex-wrap">
        <div class="d-flex j-c-center a-i-center h-50 w-50 w-100-tablet d-none-mobile">
            <img class="w-75 h-auto" src="./assets/img/coffee-leaf.png">
        </div>
        <div class="d-flex flex-direction-column j-c-between h-50 w-35 w-mobile-txt j-c-center-tablet m-t-50-mobile">
        
                <a href="#" class="fs-30 color-3 text-decoration-none encodeSansCondensed text-center-mobile">Découvrir les cafés</a>
                <span class="span-borders p-l-10 d-none-mobile"></span>
            
                <p class="fs-18 fw-bold color-4 Merriweather m-t-10-mobile text-center-mobile">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, earum nam nostrum ipsam, reprehenderit similique maiores error.</p>
                <p class="fs-18 fw-bold color-4 Merriweather text-center-mobile">Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure, earum nam nostrum ipsam, reprehenderit similique maiores error.</p>
            
            <div class="d-flex flex-direction-row a-i-center j-c-between w-100 m-t-50-mobile">
                <img class="w-17 h-auto" src="./assets/img/badge_bluish-green.png">
                <img class="w-17 h-auto" src="./assets/img/badge_blue_green.png">
                <img class="w-17 h-auto" src="./assets/img/badge_green.png">
                <img class="w-17 h-auto " src="./assets/img/badge_grey.png">
            </div>
        
        </div>
        <div class=" d-flex flex-direction-column a-i-center">
            <p class="fs-15 color-4 encodeSansCondensed fw-bold text-center-mobile">Veuillez entrer un mot-clé concernant un pays, un producteur, une couleur ou une variété</p>
            <form method="get" class="p-t-15 " action="resultat">
                {# <input type="text" name="research" id="" class="border-none border-bottom-1 outline-none bg-color-none color-2 encodeSansCondensed"/>
                <input type="submit" value="Rechercher" name="submitform" class="border-none border-bottom-1  color-2 encodeSansCondensed fw-bold bg-color-menu"/> #}
                <div class=" d-flex">
                    <span class="input input--kuro w-25">
                        <input class="input__field input__field--kuro w-25" type="text" id="input-7" name="research"/>
                        <label class="input__label input__label--kuro w-25" for="input-7">
                            <span class="input__label-content input__label-content--kuro">Votre recherche</span>
                        </label>
                    </span>
                    <button type="submit" class="btn btn-default bg-color-none outline-none border-none " name="submitform">
                    <i class="fa-2x fas fa-search"></i>
                    </button>
                </div>
            </form> 
        </div>
    </div>
   <!-- Bloc Recherche -->
</section>

<!-- Bloc gammes-->
<section class="h-180vh d-flex flex-column-mobile j-c-center j-c-between-mobile m-t-50-mobile h-100-mobile">
    <div class="d-flex j-c-evenly flex-direction-column w-100-mobile a-i-center">
        <div class="encodeSansCondensed h-35 d-flex flex-direction-column j-c-between a-i-center text-center">
            <p class="fs-30 color-3 text-decoration-none encodeSansCondensed">Découvrir les gammes</p>
            <span class="span-borders-vertical80 d-none-mobile color-4"></span>
            <p class="fs-55 color-4 m-t-10-mobile fs-title-tricafe">DUO REGES: CONSTRUCTIO INTERRETE</p>
            <p class="fs-55 color-4 fs-title-tricafe">NIHILO MAGIS. ROGES ENI</p>
            <p class="fs-55 color-4 fs-title-tricafe">DOLOR ERGO, ID EST</p>
        </div>
        <div class="d-flex flex-direction-column j-c-between h-50 w-85 w-100-mobile">

            <div class="p-t-50 encodeSansCondensed color-3">
                <!-- Bloc Tri Doux -->
                <p class="fs-20 fw-bold color-3 fs-title-tricafe text-center-mobile">Doux</p>
                <div class="d-flex flex-direction-row p-t-20 flex-column-mobile">
                    {% for coffee in sweetness %}
                    <a href="produit/{{coffee.ID}}" class="text-decoration-none m-t-30-mobile">
                        <div class="d-flex flex-direction-column a-i-center w-100">
                            <img class="w-45 h-auto" src="./assets/img/Bean-{{ coffee.COF_COLOR }}.png">
                            <p class="p-t-20 fs-18 color-3 fs-desc-tricafe p-t-5-mobile">{{  coffee.COF_COUNTRY_ORIGIN }}</p>
                            <p class="p-t-5 fs-18 color-3 fs-desc-tricafe">{{  coffee.COF_OWNER }}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="p-t-50 encodeSansCondensed color-3">
                <!-- Bloc Tri Corsé -->
                <p class="fs-20 fw-bold color-3 fs-title-tricafe text-center-mobile">Corsé</p>
                <div class="d-flex flex-direction-row p-t-20 flex-column-mobile">
                    {% for coffee in acid %}
                    <a href="produit/{{coffee.ID}}" class="text-decoration-none m-t-30-mobile">
                        <div class="d-flex flex-direction-column a-i-center w-100">
                            <img class="w-45 h-auto" src="./assets/img/Bean-{{ coffee.COF_COLOR }}.png">
                            <p class="p-t-20 fs-18 color-3 fs-desc-tricafe p-t-5-mobile ">{{  coffee.COF_COUNTRY_ORIGIN }}</p>
                            <p class="p-t-5 fs-18 color-3 fs-desc-tricafe">{{  coffee.COF_OWNER }}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

            <div class="p-t-50 encodeSansCondensed">
                <!-- Bloc Tri Equilibré -->
                <p class="fs-20 fw-bold color-3 fs-title-tricafe text-center-mobile">Equilibré</p>
                <div class="d-flex flex-direction-row p-t-20 flex-column-mobile">
                    {% for coffee in balance %}
                    <a href="produit/{{coffee.ID}}" class="text-decoration-none m-t-30-mobile">
                        <div class="d-flex flex-direction-column a-i-center w-100">
                            <img class="w-45 h-auto" src="./assets/img/Bean-{{ coffee.COF_COLOR }}.png">
                            <p class="p-t-20 fs-18 color-3 fs-desc-tricafe p-t-5-mobile ">{{  coffee.COF_COUNTRY_ORIGIN }}</p>
                            <p class="p-t-5 fs-18 color-3 fs-desc-tricafe">{{  coffee.COF_OWNER }}</p>
                        </div>
                    </a>
                    {% endfor %}
                </div>
            </div>

        </div>
                
    </div>
</section>

<!-- Bloc Ending-->
<section class="p-t-50 h-50vh d-flex flex-direction-column a-i-center h-100-mobile">

    <!-- Bloc Citation -->
    <div class="w-85 d-flex flex-direction-column">
        <div class="w-45 w-mobile-txt">
            <p class="fs-55 fw-bold encodeSansCondensed color-4 fs-title-tricafe">LOREM IPSUM DOLOR SIT</p>
            <p class="fs-55 fw-bold encodeSansCondensed color-4 fs-title-tricafe">AMET LOREM IPSUM</p>
            <p class="fs-55 fw-bold encodeSansCondensed color-4 fs-title-tricafe">DOLOR SI AMET</p>
            <p class="fs-30 p-t-20 fs-italic text-right encodeSansCondensed color-3">Vincent Jacques</p>
        </div>
    </div>

    

</section>


{% endblock %}
